{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Глоссарий СКБ СТУ{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "kendoui/styles/kendo.common.min.css" %}"/>
    <link rel="stylesheet" href="{% static "kendoui/styles/kendo.bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
{% endblock %}

{% block script %}
    <script src="{% static "kendoui/js/kendo.web.min.js" %}"></script>
    <script src="{% static "kendoui/cultures/kendo.culture.ru.js" %}"></script>
    <script src="{% static "js/index.js" %}" ></script>
{% endblock %}

{% block content %}

    <div id="index">
        {% for title in titles %}
            <a class="letter" title="Слова на букву {{ title|slice:":1" }}">{{ title|slice:":1" }}</a>
        {% empty %}
            <a href="http://google.com" title="но я могу предложить кое-что другое">Извините, мне нечего вам показать</a>
        {% endfor %}
    </div>

    <div id="terms"></div>
    <div id="pager" class="k-pager-wrap"></div>

    <script type="text/x-kendo-template" id="term_template">
        <div class="term_item" >
            <span class="title">#=title#</span>
            <p  class="description">#=description#</p>
        </div>
    </script>

{% endblock %}

{% block footer_script %}
{#    <script src="{% static "js/gremlins.min.js" %}"></script>#}
{#    <script>#}
{#        gremlins.createHorde().unleash();#}
{#    </script>#}
{% endblock %}